{{#each usersData}}
<div class="container">
    <span class="attribute">
        <strong>Name:</strong>{{this.animalname}}
    </span>
    <br>
    <span class="attribute">
        <strong>Breed:</strong> {{this.breedname}}
    </span>
    <br>
    <span class="attribute">
        <strong>Specie:</strong> {{this.speciesname}}
    </span>
</div>

{{/each}}